@import url('https://fonts.googleapis.com/css?family=Raleway');

header {
  overflow: visible;
  z-index: 999;
  width: 100%;
  position: absolute !important;
  height: 5em;
  background: rgba(0, 0, 0, 0.1);
}

.logo {
  width: 180px;
  top: 2em;
  position: absolute;
  float: left;
  left: 2em;
}

.nav-mobile {
    text-align: center;
    position: absolute;
    top: 2em;
    width: 100%;
}

.menu-mobile a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}

.menu-mobile a:hover {
    text-decoration: none;
    color: red;
    margin: 0 10px;
    text-transform: uppercase;
}

label {
    margin: 0 15px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu-mobile {
        text-align: center;
        width: 100%;
        display: none;
        background: rgba(0, 0, 0, 0.9);
    }
    .menu-mobile a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        line-height: 50px;

    }
    #toggle:checked + .menu-mobile {
        display: block;
    }
    .logo {
      float: center;
      text-align: center;
    }
}
