@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** RESET APPLIED TO NAV - START **/
.demos {
  all: initial;
  * {
    all: unset;
  }
}

.demos a:link {
  all: initial;
  * {
    all: unset;
  }
}

.demos a:visited {
  all: initial;
  * {
    all: unset;
  }
}
.demos a:hover {
  all: initial;
  * {
    all: unset;
  }
}

.demos a:active {
  all: initial;
  * {
    all: unset;
  }
}

.demo {
  all: initial;
  * {
    all: unset;
  }
}
/** RESET APPLIED TO NAV - END **/

html {
  background: black;
  font-family: 'Open Sans', sans-serif;
}

.demos {
  padding: 0px;
  position: absolute;
  top: 10px;
  right: 5px;
}
.demos a:link {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.demos a:visited {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.demos a:hover {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
  text-decoration: line-through;bold
}

.demos a:active {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: red;
  text-decoration: line-through;
}
