#header nav a, #header i {
    color: white;
}

#header.nav-solid, #header.nav-solid a, #header.nav-solid i, #nav-mobile ul li a {
    color: white;
}

#header.nav-solid .active {
    color: red;
    border-color: #d2b356;
    text-decoration: line-through;
}
